name: Build and Release
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v3
        - name: build
          id: build
          run: |
              build.sh
